<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">

		<form-login login-page='/login' login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login?login_error=true"
			username-parameter="j_username" password-parameter="j_password" />
		<logout logout-url="/logout" logout-success-url="/login"
			invalidate-session="true" />

		<csrf disabled="true" />
	</http>

	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://bootcamp.edvantis.com/golf_workapolis" />
		<beans:property name="username" value="golf" />
		<beans:property name="password" value="golf498Hed_2d2" />
	</beans:bean>

	<beans:bean id="bcrypt"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<password-encoder ref="bcrypt" />
			<jdbc-user-service id="jdbcUserService"
				data-source-ref="dataSource"
				users-by-username-query="
                select Email, Password, IsActive 
                from Users where Email=?"
				authorities-by-username-query="
                select u.Email, r.name from Users u, Roles r 
                where r.id=u.RoleId and u.Email=?" />
		</authentication-provider>
	</authentication-manager>
	


</beans:beans>