#header-main {
background-image: url('../img/logo_back.jpg');
background-position: center;
}
 .worko-logo {
  width: 300px;
  height: 150px;
}
 .container-logo
{
  padding-top: 20px;
  padding-bottom: 20px;
}
.row {
  margin: 0;
}
#copyright {
  float: right;
  margin-top: 20px;
}

#logout {
  display: none;
}

#dinamic {
min-height: calc(100vh - 243px);
}
